body{
margin:0;
font-family:Poppins;

background-image:url("https://images.unsplash.com/photo-1492724441997-5dc865305da7");
background-size:cover;
background-position:center;

height:100vh;
display:flex;
justify-content:center;
align-items:center;
}



.home-container{
text-align:center;
color:white;
}

.home-container h1{
font-size:48px;
text-shadow:2px 2px 10px black;
}

.home-container p{
font-size:20px;
text-shadow:1px 1px 8px black;
}

.start-btn{
margin-top:20px;
padding:12px 22px;
border:none;
border-radius:8px;
background:#4dabf7;
color:white;
cursor:pointer;
}

.start-btn:hover{
background:#339af0;
}



.list-container{
background:rgba(255,255,255,0.9);
padding:40px;
width:380px;
border-radius:12px;
text-align:center;
box-shadow:0 8px 25px rgba(0,0,0,0.3);
}



.task-count{
font-weight:bold;
margin-bottom:10px;
}


.input-section{
display:flex;
gap:10px;
margin-bottom:20px;
}

input{
flex:1;
padding:10px;
border-radius:6px;
border:1px solid #ccc;
}

button{
padding:10px 15px;
border:none;
border-radius:6px;
background:#4dabf7;
color:white;
cursor:pointer;
}

button:hover{
background:#339af0;
}



ul{
list-style:none;
padding:0;
}

li{
display:flex;
justify-content:space-between;
align-items:center;
background:#f1f3f5;
padding:10px;
margin-top:10px;
border-radius:6px;
}



.delete-btn{
background:#ff6b6b;
}

.delete-btn:hover{
background:#fa5252;
}



.home-btn{
margin-bottom:15px;
background:#51cf66;
}