body{
margin:0;
font-family:Poppins;

background-image:url("https://images.unsplash.com/photo-1501696461415-6bd6660c6742");
background-size:cover;
background-position:center;
background-repeat:no-repeat;

height:100vh;
display:flex;
justify-content:center;
align-items:center;
}



.home-container{
text-align:center;
color:white;
}

.home-container h1{
font-size:48px;
text-shadow:2px 2px 10px black;
}

.home-container p{
font-size:20px;
text-shadow:1px 1px 8px black;
}



.start-btn{
margin-top:20px;
padding:12px 22px;
border:none;
border-radius:8px;
background:#4dabf7;
color:white;
font-size:16px;
cursor:pointer;
}

.start-btn:hover{
background:#339af0;
}



.weather-container{
background:rgba(255,255,255,0.9);
padding:40px;
width:360px;
border-radius:12px;
text-align:center;
box-shadow:0 8px 25px rgba(0,0,0,0.3);
}



input{
width:100%;
padding:10px;
margin-top:10px;
border-radius:6px;
border:1px solid #ccc;
font-size:15px;
}



button{
margin-top:10px;
padding:10px 15px;
border:none;
border-radius:6px;
cursor:pointer;
}



button:first-of-type{
background:#228be6;
color:white;
}

button:first-of-type:hover{
background:#1c7ed6;
}



.clear-btn{
margin-left:10px;
background:#ff6b6b;
color:white;
}

.clear-btn:hover{
background:#fa5252;
}



.home-btn{
margin-bottom:15px;
background:#51cf66;
color:white;
padding:8px 15px;
border:none;
border-radius:6px;
cursor:pointer;
}

.home-btn:hover{
background:#37b24d;
}



.weather-box{
margin-top:20px;
padding:20px;
background:#f1f3f5;
border-radius:10px;
}

.weather-box h3{
margin:0;
}



.error{
color:red;
margin-top:10px;
}